
<ion-content (click)="log($event)">
  <!-- Header; inserted inside ion-content as mobile browser bug -->
  <ion-header #header class="green">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text=""></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">준비된게 없네요</ion-title>
    </ion-toolbar>
  </ion-header>
  <a [routerLink]="['/home']">
    <header class="top-header">
    </header>

    <!--dust particel-->
    <div>
      <div class="starsec"></div>
      <div class="starthird"></div>
      <div class="starfourth"></div>
      <div class="starfifth"></div>
    </div>
    <!--Dust particle end--->


    <div class="lamp__wrap">
      <div class="lamp">
        <div class="cable"></div>
        <div class="cover"></div>
        <div class="in-cover">
          <div class="bulb"></div>
        </div>
        <div class="light"></div>
      </div>
    </div>
    <!-- END Lamp -->
    <section class="error">
      <!-- Content -->
      <div class="error__content">
        <div class="error__message message">
          <h1 class="message__title">준비중인 페이지 입니다</h1>
          <p class="message__text">페이지를 아직 준비하지 못해서 공란입니다!</p>
        </div>
        <div class="error__nav e-nav">
          <a [routerLink]="['/home']" class="e-nav__link"></a>
        </div>
      </div>
      <!-- END Content -->

    </section>

  </a>
</ion-content>
