<ion-content [fullscreen]="true" scrollEvents="true">
  <ion-grid class="marginer"> </ion-grid>
  <!-- 인기농장 grid list -->
  <ion-grid class="green grid-list">
    <ion-row>
      <ion-item class="title" lines="none">
        <ion-label>인기 농장</ion-label>
        <ion-item slot="end" lines="none">
          <ion-label>더보기</ion-label>
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-item>
      </ion-item>
      <ion-col
        size="6"
        class="ion-no-padding"
        size-lg="4"
        *ngFor="let idx of [1, 2, 3, 4, 5, 6]"
      >
        <ion-card
          class="grid-card no-box-shadow ion-text-center border color-basic border-radius ion-no-margin"
        >
          <img [src]="itemDetailService.getItemDetail(idx).image" />
          <ion-grid lines="none" class="farmer-info">
            <ion-avatar class="ion-text-sm">
              <img [src]="itemDetailService.getItemDetail(idx).badge" />
            </ion-avatar>
            <ion-label class="ion-no-margin"
              >농장주 구현 필요</ion-label
            ></ion-grid
          >
          <ion-grid class="two-line">
            <h2 class="ion-no-margin text-color-primary">
              {{ itemDetailService.getItemDetail(idx).title | truncate: [20] }}
            </h2>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- 오늘의 재배일지 slider list -->
  <ion-grid class="slider-list">
    <ion-row>
      <ion-item class="title" lines="none">
        <ion-label>오늘의 재배일지</ion-label>
        <ion-item slot="end" lines="none">
          <ion-label>더보기</ion-label>
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-item>
      </ion-item>

      <ion-slides
        [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
        class="slider-list green"
      >
        <ion-slide *ngFor="let idx of [1, 2, 3, 4, 5, 6]">
          <ion-card
            class="no-box-shadow ion-text-center border color-basic border-radius ion-no-margin"
          >
            <img [src]="itemDetailService.getItemDetail(idx).image" />
            <ion-grid lines="none" class="farmer-info">
              <ion-avatar class="ion-text-sm ion-no-padding">
                <img [src]="itemDetailService.getItemDetail(idx).badge" />
              </ion-avatar>
              <ion-label class="ion-no-margin"
                >농장주 구현 필요</ion-label
              ></ion-grid
            >
            <ion-grid class="two-line">
              <h2 class="ion-no-margin text-color-primary">
                {{
                  itemDetailService.getItemDetail(idx).title | truncate: [20]
                }}
              </h2>
            </ion-grid>
          </ion-card>
        </ion-slide>
      </ion-slides>

      <ion-col
        size="6"
        class="ion-no-padding"
        size-lg="4"
        *ngFor="let i of [0, 1, 2, 3, 4, 5]"
      >
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- 지도 -->
  <!-- https://www.freakyjolly.com/ionic-5-angular-google-maps-using-agm/ -->
  <ion-grid class="agm">
    <ion-item class="title" lines="none">
      <ion-label>농장 위치</ion-label>
      <ion-item slot="end" lines="none">
        <ion-label>더보기</ion-label>
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-item>
    </ion-item>

    <h3 class="text-size-sm">인근농장: {{ cnt }}</h3>
    <agm-map
      [latitude]="latitudes[0]"
      [longitude]="longitudes[0]"
      [zoom]="zoom"
    >
      <agm-marker
        *ngFor="let i of [0, 1, 2]"
        [latitude]="latitudes[i]"
        [longitude]="longitudes[i]"
        [markerDraggable]="true"
      ></agm-marker>
    </agm-map>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
