<ion-header #header>
  <app-fake-tab
    [tabInput]="tabInput"
    (tabChange)="tabChange($event)"
  ></app-fake-tab>
</ion-header>

<!-- Content -->
<ion-content [fullscreen]="true" scrollEvents="true" class="green">
  <app-farm-data
    scrollEvents="true"
    [appHideHeader]="header"
    [itemId]="itemId"
    *ngIf="(currentTab | async) === 'farm-data' || initialTab"
  ></app-farm-data>
  <app-growth-diary
    scrollEvents="true"
    [appHideHeader]="header"
    [itemId]="itemId"
    *ngIf="(currentTab | async) === 'growth-diary'"
  ></app-growth-diary>
</ion-content>
