

ion-content {
  position: relative;
  .non-coverable {
    position: absolute;
    z-index: 9;
    background-color: #fff;
  }
}
#featureBackground {
  height: 70vh;
  width: 120vw;
  position: absolute;
  bottom: 0;
  left: -15vw;
  overflow: hidden;
}


.ball {
  position: absolute;
  object-fit: cover;
  border-radius: 50%;
  will-change: transform;
  text-align: center;
  border: 10px solid #def1dd;
}
