<ion-content fullscreen="true">
  <ion-grid class="wrapper">
    <ion-grid>
      <ion-text class="ion-text-center ion-margin-top">
        <h1 class="text-size-md">아직 페이지를 만들어가는 중입니다!</h1>
        <h1 class="text-size-md">아무곳이나 눌러서 로그아웃 하세요</h1>
      </ion-text>
    </ion-grid>

    <ion-grid class="login-wrapper ion-margin-top">
      <img [src]="this.auth.userInfo.kakaothumb" />
      <ion-text class="ion-margin-top">
        <h2 class="ion-no-margin">
          {{ this.auth.userInfo.kakaoname }}
        </h2>
      </ion-text>
      <ion-grid class="input-box ion-margin-top">
        <ion-text>닉네임: {{ this.auth.userInfo.sub }}</ion-text>
        <ion-grid class="input-box ion-margin-top"> </ion-grid>
      </ion-grid>
    </ion-grid>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>
