<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <ion-text color="primary">
      <h1>{{imgLoadingService.imagesLoading$ | async}}</h1>
    </ion-text>
    <img src="../../assets/images/contents/farmer/farmer01.jpg" alt="farmerImg">
    <img src="../../assets/images/contents/farmer/farmer01.jpg" alt="farmerImg">
  </div>
</ion-content>
