ion-col {
  position: relative;
  ion-button {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 15px;
    height: 30px;
    color: white;
  }
  ion-label {
    height: 100px;
    display: flex;
    flex-direction: column;
  }
}

.order-date {
  color: rgba(0, 0, 255, 0.521);
}
