<!-- wide card list(default) -->
<ion-item *ngIf="cardWide"
  ><ion-grid *ngIf="cardWide">
    <ion-row>
      <ion-col
        size="12"
        *ngFor="let item of items"
        (click)="openPage('item-detail' + item.id)"
      >
        <ion-button class="text-size-sm" color="success"
          ><p
            (click)="openPage('review-write/' + item.id)"
            class="text-size-sm review-write"
          >
            리뷰 작성
          </p></ion-button
        >

        <ion-item lines="none" class="default-item border border-radius">
          <ion-thumbnail slot="start">
            <img class="border-radius" [src]="item.image" />
          </ion-thumbnail>
          <ion-label class="ion-justify-content-between">
            <!-- Title-->

            <h1 class="text-color-primary text-size-lg">
              {{ item.title }}
            </h1>
            <!-- Subtitle-->
            <p class="text-color-secondary text-size-xs">
              {{ item.subtitle }}
            </p>
            <p class="text-size-sm order-date">주문일자: 날짜 받아와야함</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid></ion-item
>

<!-- slim card list(option2) -->
<ion-item *ngIf="!cardWide">
  <ion-item
    class="default-item border border-radius ion-margin-top"
    *ngFor="let item of items.items"
  >
    <!-- Avatar-->
    <ion-avatar slot="start">
      <img [src]="item.image" />
    </ion-avatar>
    <!-- Text -->
    <ion-label>
      <ion-item>
        <h2
          class="text-size-md text-color-primary font-regular"
          (click)="openPage('item-detail/' + item.id)"
        >
          {{ item.title }}
        </h2>
        <h3
          (click)="openPage('review-write/' + item.id)"
          class="text-size-sm"
          slot="end"
        >
          리뷰 쓰러가기
        </h3>
      </ion-item>

      <h2 class="text-size-sm text-color-primary font-regular ion-text-wrap">
        {{ item.subtitle }}
      </h2>
    </ion-label>
  </ion-item>
</ion-item>
