<ion-grid class="wrap">
  <ion-row class="row0">
    <h3 class="text-size-lg"><strong>서비스 소개</strong></h3>
    <h3 class="text-size-lg"><strong>입점 문의</strong></h3>
    <h3 class="text-size-lg"><strong>제휴 문의</strong></h3></ion-row
  >

  <ion-row class="text-size-sm row1"
    ><strong>이용약관 | 개인정보처리방침</strong></ion-row
  ><ion-row class="text-size-sm row2"
    >법인명 : 마이농장 | 대표자 : 김동인 | 사업자등록번호 :
    000-00-00000</ion-row
  ><ion-row class="text-size-sm row3"
    >주소 : 서울 어쩌구 저쩌로0길 00 | 문의 : mynj@mynj.com</ion-row
  ><ion-row class="text-size-sm row4"
    >Copyright 마이농장. All right reserved.</ion-row
  >
</ion-grid>
