<div class="keyword-chip-select ion-margin-horizontal green">
  <h3 class="text-size-xs font-regular text-color-secondary ion-no-margin">
    키워드 모음집
  </h3>

  <ion-slides
    [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
    *ngFor="let key of keys"
  >
    <ion-slide
      *ngFor="let values of reviewKeywords[key]"
      [style]="'width: ' + (values[0].length * 12 + 55) + 'px;'"
    >
      <ion-grid>
        <ion-icon class="icon-color-accent" [name]="values[1]"></ion-icon>
        <ion-label class="text-size-sm">{{ values[0] }}</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</div>
