<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simjh96.mybatis.MemberMapper">
	<resultMap type="com.simjh96.model.MemberDto" id="memberMap">
		<id property="id" column="id" />
		<result property="id" column="id" />
		<result property="password" column="password" />
		<result property="name" column="name" />
		<result property="phone" column="phone" />
		<result property="zipcode" column="zipcode" />
		<result property="address" column="address" />
		<result property="regdate" column="regdate" />
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	<resultMap type="com.simjh96.model.AuthDto" id="authMap">
		<result property="id" column="id" />
		<result property="auth" column="auth" />
	</resultMap>

	<select id="read" resultMap="memberMap">
		SELECT mem.id, password, enabled, name, phone, zipcode, address, regdate,
		auth FROM COUPANGUSER mem LEFT OUTER JOIN COUPANGUSER_AUTH auth on
		mem.id = auth.id WHERE mem.id = #{id}
	</select>

</mapper>