<!-- ref: 'cs-google-card-list-layout-2' -->
<div class="order-detail">
  <ion-grid>
    <ion-row>
      <ion-col
        class="ion-no-padding ion-no-margin"
        size="12"
        size-md="6"
        size-lg="4"
      >
        <ion-card
          class="no-box-shadow border color-basic ion-no-margin"
          (click)="onItemClickFunc($event)"
        >
          <!--Card image-->

          <ion-img [src]="ithItemDetail.image"></ion-img>

          <!--Card content-->
          <ion-card-content class="transparent">
            <!--Card subtitle-->
            <ion-card-title>
              <h1 class="text-size-lg text-color-primary">
                {{ ithItemDetail.title }}
              </h1>
            </ion-card-title>
            <!--Card description-->
            <p class="text-size-xs text-color-secondary">
              {{ ithItemDetail.description }}
            </p>
          </ion-card-content>
          <ion-item class="transparent" lines="none">
            <ion-avatar slot="start">
              <img [src]="ithItemDetail.avatar" />
            </ion-avatar>
            <ion-label>
              <h2 class="text-size-sm ion-no-margin">
                {{ ithItemDetail.avatarTitle }}
              </h2>
              <p class="text-size-p ion-no-margin">
                {{ ithItemDetail.avatarSubTitle }}
              </p>
            </ion-label>
            <ion-button
              *ngIf="ithItemDetail.btFollowing == '구독중'"
              class="button-small color-primary no-box-shadow following"
              (click)="onFollowFunc($event)"
              slot="end"
              shape="round"
            >
              구독중
            </ion-button>
            <ion-button
              *ngIf="ithItemDetail.btFollowing == '구독하기'"
              class="button-small color-primary no-box-shadow to-follow"
              (click)="onFollowFunc($event)"
              slot="end"
              shape="round"
            >
              구독하기
            </ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
